.header {
  display: flex;
  align-items: center;
  gap: 12px;
}
.title {
  margin: 0;
  margin-left: 24px;
  font-size: 30px;
  text-transform: uppercase;
}

.show-all {
  display: none;
}

.header:hover .show-all {
  display: block;
}
